body {
    background-image: url('../Resources/images/bg-desktop.svg');
    background-color: hsl(257, 40%, 49%);
}

.flex-container {
    
    display: flex;
    margin-top: 3rem;
    
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 2rem;
    color: white;
    flex-basis: 500px;
}

.register {
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    box-shadow: 5px 5px 30px rgb(68, 68, 68);
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    width: 5rem;
    text-align: center;
    transition: 1s;

}

.register:hover {
    font-size: larger;
    padding: 5px 25px 5px 25px;

}

.social-links {
    display: flex;
    justify-content: right;
    margin-right: 5rem;
    color: white;
}
.links:hover {
    cursor: pointer;
    transition: 1s;
}

.links:nth-child(1):hover {
    background-color: #4267B2;
  animation: bounce 1s ease-out;
}

.links:nth-child(2):hover {
    background-color: 	#1DA1F2;
    animation: bounce 1s ease-out;

}

.links:nth-child(3):hover {
    background-color: #e95950;
    animation: bounce 1s ease-out;

}

@keyframes bounce{
    20%,50%,80%,to{
       transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    70%{
        transform: translateY(-15px);
    }
    90%{
        transform: translateY(-4px)
    }
}


.links {
    /* padding-left: 2rem; */
    border: 1px solid white;
    margin-left: 1rem;
position: relative;
 /* height: 30px;
    width: 30px;
    border-radius: 50%;  */
    height:30px;
    border-radius:50%;
   
    width:30px;

}


.links i {
    position: absolute;
    top:25%;
    left:25%;
}

.links a {
    text-decoration: none;
    color: white;

}



@media all and (max-width: 980px) {
    .flex-container {
        flex-direction: column;
    }
}


.attribution .challenge-link {
    text-decoration: none;
    color: white;
}